/*
=============== 
Variables
===============
*/

:root {
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
    box-sizing: border-box;
}



body {
    font-family: Oswald;
    background-color: black;
    color: whitesmoke;
    margin: 0;
}

ul {
  list-style-type: none;
}
/*
=============== 
Navbar
===============
*/

nav {
  background: transparent;
}
nav li a:hover {
    /*font-weight: bold;*/
    font-size: 18px;
    font-weight: bold;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.8rem;
  color: whitesmoke;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  color: grey;
  transform: rotate(90deg);
}

.logo {
  height: 40px;
}


.links a {
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
  font-family: Roboto;
}

.links a:hover {
  background: grey;
  color: whitesmoke;
  padding-left: 1.5rem;
}

.social-icons {
  display: none;
}

.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-links {
  height: 10rem;
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: whitesmoke;
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: grey;
  }
}

/*from welcome*/
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  /*padding: 5%;*/
}

.welcome {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.hello {
  flex: 0 0 50%;
  max-width: 50%;
}

.hello h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--clr-light);
}

.hello p {
  color: var(--clr-accent);
}

.profile {
  max-width: 50%;
}

.profile img {
  border-radius: 50%;
  right: 50%;
  max-width: 270px;
  max-height: 270px;
  border: 5px solid silver;
}

#quotes {
    width: 90%;
    margin-top: -200px;

}
/* css for leran more button  */

.draw-border {
  box-shadow: inset 0 0 0 4px whitesmoke;
  color: var(--clr-accent);
  transition: color 0.25s;
  position: relative;
}

.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: rgb(192, 226, 97);
}

.draw-border:hover::before, .draw-border:hover::after {
  border-color: silver;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  line-height: 1.5;
  padding: 1em 1em;
  letter-spacing: 0.05rem;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  margin: -5px 0 0 -2px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  color: whitesmoke;
}

.btn a {
  text-decoration: none;
  color: whitesmoke;
}

#services {
    margin-top: 60px;
}

#services h1 {
    text-align: center;
    margin: 50px auto 200px;
    color: whitesmoke;
    text-transform: uppercase;
}

.main {
    width: 100%;
    min-height: 350px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.service {
    background: #111;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    box-shadow: 0 0 25px -5px rgb(253, 253, 253);
    transition: transform .8s;
    height: 405px;
    margin: 50px;
    color: #fff;
}

.service-logo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background: #111;
    border: 18px solid rgb(240, 240, 20);
    display: flex;
    justify-content: center;
    align-items: center;
}

.service h4 {
    height: 35px;
    width: 80%;
    margin: 50px auto;
    background: #111;
    position: relative;
}

.service h4::after,
.service h4::before {
    content: '';
    width: 40px;
    height: 30px;
    position: absolute;
    z-index: -1;
}

.service h4::after {
    background: linear-gradient(to right, #fff, rgb(240, 240, 20));
    right: -5px;
    top: -5px;
}

.service h4::before {
    background: linear-gradient(to right, rgb(240, 240, 20), #fff);
    left: -5px;
    bottom: -5px;
}

.main:hover .service {
    transform: translateY(-20px);
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 180px;
}

.service-colum {
    flex: 3;
    background: #111;
}

i {
    font-size: 40px;
}

@media (max-width: 800px) {
    
    .welcome {
      display: flex;
      justify-content: unset;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top:100px;
    }
    .hello {
      max-width: 90%;
      position: relative;
      text-align: center;
    }
    .profile {
      max-width: 100%;
      margin-top: 50px;
    }
    .profile img {
      width: 150px;
      height: 150px;
    }

    #services {
        margin-top: 150px;
    }

    #services h1 {
        margin: 50px auto -150px;
    }
    .row {
        display: block;
    }
    .main {
        min-height: 500px;
        width: 100%;
    }
    .service {
        margin: 15px;
        height: 424px;
    }
    .service-colum {
        margin-top: 40px;
    }
    #quotes {
        width: 90%;
      margin-top: 50px;
      margin-bottom: -50px;
    }
}

.card {
    height: 23rem;
    width: 21rem;
    margin: 1rem;
    box-shadow: 3px 2px 10px grey;
    color: #fff;
}

.card img {
        opacity: 0.5;
        transition: opacity 0.5s ease;
}

.card img:hover {
    opacity: 1;
}

.project-grid {
    min-height: 60vh;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#projects h1 {
    text-align: center;
    margin: 50px auto 20px;
    color: #fff;
    text-transform: uppercase;
}

.myp h1 {
    text-align: center;
    margin: 100px auto 20px;
    color: #fff;
    text-transform: uppercase;
}

#projects img {
    width: 100%;
    border-bottom: 1px solid #55198b;
    height: 80%;
}

.project-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#projects {
    padding: 5%;
}

.icons, a {
    text-decoration: none;
    color: #fff;
}

i {
    transform: scale(0.6);
    transition: 0.5s linear;
}
i:hover {
    color: rgb(240, 240, 20);
}

.sm {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 30vh; */
    /* padding-bottom: 50px; */
    margin: 15px;
}

#contact h1 {
    text-align: center;
    /* margin: 50px auto 20px; */
    color: #fff;
    text-transform: uppercase;
}

.sm a {
    display: inline-block;
    font-size: 40px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #fff;
    margin: 0 16px;
    transition: .4s linear;
    position: relative;
}

.sm a::before, .sm a::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .4s linear;
}

.sm a:hover {
    transform: scale(.8);
}

.sm a:hover::before {
    border-radius: 50%;
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewX(20deg);
}

.sm a:hover::after {
    border-radius: 50%;
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewY(-20deg);
}

.myp {
    display: grid;
    place-items: center;
}

.mypage-content {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
    font-family: var(--font-sans);
}

@media (min-width: 600px) {
    .mypage-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .mypage-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

.mycard {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
    .mycard {
        height: 250px;
        width: 350px;
        border-radius: 5px;
    }
}

.mycard:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}

.mycard:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.mycard:nth-child(1):before {
    background-image: url(1.png);
}

.mycard:nth-child(2):before {
    background-image: url(2.png);
}

.mycard:nth-child(3):before {
    background-image: url(3.png);
}

.mycard:nth-child(4):before {
    background-image: url(4.jpg);
}

.mycard:nth-child(5):before {
    background-image: url(5.jpg);
}

.mycard:nth-child(6):before {
    background-image: url(1.png);
}

.mycontent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.mytitle {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
}

.mydes {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}

.mybtn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: #111;
    background-color: #fff;
    border: none;
}

.mybtn:hover {
    background-color: rgb(29, 26, 26);
    color: #fff;
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
}

.mybtn:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
}

.mycontent {
    transform: translateY(calc(100% - 4.5rem));
}

.mycontent>* {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
}

.mycard:hover {
    align-items: center;
}

.mycard:hover:before {
    background: #333;
}

.mycard:hover:after {
    transform: translateY(-50%);
}

.mycard:hover .mycontent {
    transform: translateY(0);
}

.mycard:hover .mycontent>* {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
}