body{
  background-color: black;
  color: white;
}
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: -5px;
  right: 10px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 30px;
  left: 10px;
  right: 1px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px #black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.heater{
  position: relative;
  display: inline-block;
  width: 200px;
  height: 40px;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 4px;
  font-size: 18px;
  font-weight: bold;
}
.view{
  background-color: black;
  color: black;
/*   padding: px; */
}
.my-container {
  height: 200px;
  position: relative;
  margin-top:10%;
}

.drum-box {
    padding: 30px;
    box-shadow:  0 25px -5px rgb(253, 253, 253);
    border-radius: 3px;
    width: 700px;
    background-color: #fff;
    margin: auto;
    color: black;
}
.center{
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
